body{
    font-family: 'Saira Condensed', sans-serif;
    background-color: #ff9494;
    color: white;
}


.menu-bar{
    background-color: #322F2F;
    border: black;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    
}

.logo{
    margin-left: 17px;
    margin-top: 25px;
}
.menu-container{
    position: absolute;
    top: 15px;
    width: 100%;
    margin: 0 auto;
}

header::after {
    content: "";
    display: table;
    clear: both;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin-left: 60px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
}

nav > ul > li > a {
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.page-header{
    text-align: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 113px;
    margin-top: 50px;
    margin-left: 200px;
    
}

.dropdown-faq{
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

button{
    font-family: 'Saira Condensed', sans-serif;
}

.question{
    margin-left: 200px;
    background-color: #FF5190;
    font-size: 24px;;
    color: white;
    width: 100%;
    border:none;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    margin-top: 25px;
}
.answer-panel {
    margin-left: 200px;
    background-color: white;
    padding: 20px;
    color:#322F2F;
    width: 100%;
    display: none;
    overflow: hidden;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
